<!-- progress.component.html -->
<div class="w-full bg-gray-200 rounded-full dark:bg-gray-700">
  <!-- @if (progressValue >= 0 && progressValue = 100) { -->
  <div
    class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full"
    [style]="progressValue"
  >
    {{ progressValue }}
  </div>
  <button
    (click)="hideProgress()"
    class="ml-2 text-gray-500 focus:outline-none"
  >
    <svg
      class="w-4 h-4"
      fill="currentColor"
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        d="M10 1a9 9 0 1 1 0 18 9 9 0 0 1 0-18zm0 16a7 7 0 1 0 0-14 7 7 0 0 0 0 14zm1-5.41l3.59-3.58a1 1 0 0 0-1.42-1.42L10 10.59l-2.29-2.3a1 1 0 0 0-1.42 1.42l3.59 3.58-3.59 3.58a1 1 0 1 0 1.42 1.42L10 13.41l2.29 2.3a1 1 0 0 0 1.42-1.42L11 11.59z"
      />
    </svg>
  </button>
  <!-- } -->
</div>
