<app-header></app-header>
<section class="py-10 max-w-screen-xl mx-auto px-5 h-fit">
  <div class="container mx-auto">
    <h2 class="text-4xl font-semibold mb-6">About Us</h2>

    <div class="flex flex-wrap -mx-4">
      <div class="w-full md:w-1/2 px-4 mb-8">
        <h3 class="text-2xl font-semibold mb-4">Our Mission</h3>
        <p class="text-gray-700">
          At Resume Checker, our mission is to empower job seekers in India by
          providing a state-of-the-art tool that ensures their resumes align
          perfectly with job descriptions. We believe in making the job
          application process smoother and more effective.
        </p>
      </div>

      <div class="w-full md:w-1/2 px-4 mb-8">
        <h3 class="text-2xl font-semibold mb-4">Why Choose Us?</h3>
        <p class="text-gray-700">
          We stand out with our precision, efficiency, and commitment to
          confidentiality. Our AI-driven system offers in-depth analysis, quick
          feedback, and a secure environment for handling your personal
          information and documents.
        </p>
      </div>

      <div class="w-full md:w-1/2 px-4 mb-8">
        <h3 class="text-2xl font-semibold mb-4">Our Team</h3>
        <p class="text-gray-700">
          Our team consists of dedicated professionals passionate about
          revolutionizing the job search experience. We combine expertise in
          technology and career development to create a tool that caters
          specifically to the Indian job market.
        </p>
      </div>

      <div class="w-full md:w-1/2 px-4 mb-8">
        <h3 class="text-2xl font-semibold mb-4">Contact Us</h3>
        <p class="text-gray-700">
          Have questions or need assistance? Feel free to reach out to our team.
          We are here to help you on your journey to career success. You can
          contact us via email at
          <a href="mailto:shubham.karad&#64;winjit.com" class="text-blue-500"
            >shubham.karad&#64;winjit.com</a
          >
          or give us a call at
          <span class="text-blue-500">+91 123 456 7890</span>.
        </p>
      </div>
    </div>
  </div>
</section>

<div class="fixed bottom-0 w-full">
  <app-footer></app-footer>
</div>
